@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-4">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p>Aprende sobre <a href="https://docs.microsoft.com/aspnet/core">la construcción de aplicaciones web con ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="Herramientas" asp-action="Index">Ver Herramientas</a>
        <a class="btn btn-secondary btn-lg" asp-controller="Usuarios" asp-action="Index">Ver Usuarios</a>
        <a class="btn btn-success btn-lg" asp-controller="Marcas" asp-action="Index">Ver Marcas</a>
    </div>
</div>
