html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin: 0;
    padding-bottom: 60px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    color: #007bff;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #0056b3;
    }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: #343a40;
    color: white;
    text-align: center;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

a {
    color: #007bff;
    transition: color 0.3s ease;
}

    a:hover {
        color: #0056b3;
    }

/* Estilos para las tablas en los índices */
/* Asegura que la tabla tenga el borde completo */
/* Asegura que la tabla tenga el borde completo */
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #dee2e6; /* Borde externo */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra externa */
}

/* Establece un tamaño mínimo para el cuerpo de la tabla */
.table tbody {
    min-height: 150px; /* Ajusta según el tamaño que necesites */
}

/* Bordes internos de celdas y espacio para que se vea el borde */
.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #dee2e6;
    text-align: left;
    vertical-align: middle;
}

/* Colores de fondo y estilo de encabezado */
.table th {
    background-color: #343a40;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

/* Alterna color de filas y añade fondo al hover */
.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}





.navbar-expand-sm .navbar-nav {
    background-color: #d3d3d3;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
}

    .navbar-expand-sm .navbar-nav .nav-link {
        color: #343a40;
        padding: 10px 15px;
        transition: background-color 0.3s ease;
    }

        .navbar-expand-sm .navbar-nav .nav-link:hover {
            background-color: #b0b0b0;
            color: white;
        }

        .navbar-expand-sm .navbar-nav .nav-link.active {
            background-color: #a9a9a9;
            color: white;
        }
