@model Practico3.Models.Herramientas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Herramientas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo Nombre -->
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <!-- Campo Modelo -->
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                @Html.DropDownListFor(m => m.MarcaId, (SelectList)ViewData["MarcaId"], "Seleccione una Marca", new { @class = "form-control" })
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>


            <!-- Campo Cantidad Total -->
            <div class="form-group">
                <label asp-for="CantidadTotal" class="control-label"></label>
                <input asp-for="CantidadTotal" class="form-control" />
                <span asp-validation-for="CantidadTotal" class="text-danger"></span>
            </div>

            <!-- Botón de Envío -->
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
