@model Practico3.Models.Herramientas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Herramienta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadTotal" class="control-label"></label>
                <input asp-for="CantidadTotal" class="form-control" />
                <span asp-validation-for="CantidadTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDisponible" class="control-label"></label>
                <input asp-for="CantidadDisponible" class="form-control" />
                <span asp-validation-for="CantidadDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadUsada" class="control-label"></label>
                <input asp-for="CantidadUsada" class="form-control" />
                <span asp-validation-for="CantidadUsada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadEnMantenimiento" class="control-label"></label>
                <input asp-for="CantidadEnMantenimiento" class="form-control" />
                <span asp-validation-for="CantidadEnMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
